@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #38d39f;
    --primary-bg-hover: #037401;
    --background-color: rgb(240, 240, 240);
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}
a {
    transition: 0.25s;
}
a:hover {
    color: var(--primary-color);
}


/* Login Register */
.login-page {
    background: url('/template/imgs/wave.png');
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.login-content h2 {
    font-size: 32px;
}
.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div-error:before, .input-div-error:after {
    background-color: #ce1919;
}
.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}
.login-form {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.login-form a {
	text-align: right;
	font-size: 0.9rem;
	transition: .3s;
}

.login-form a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}
.login-page .nav-main {
    font-size: 18px;
}
.link-underline::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.5px;
    background: #222222;
	transition: .3s;
}
.login-form a:hover:after{
	background-color: #38d39f;
}

@media screen and (max-width: 1024px) {
    .login-banner {
        display: none;
    }
    .login-content {
        margin-left: 0;
    }
}
@media screen and (max-width: 500px) {
    .login-content {
        width: 100%;
    }
    .login-content {
        margin-left: 0;
    }
    .login-form {
        width: 100%;
    }
}

/* Header Footer */
.header {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.trigger-dropdown {
    display: none;
    z-index: 10;
}
.trigger-dropdown-show {
    display: block;
}
.btn-type-2 {
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    transition: 0.5s;
    background-size: 200%;
}
.btn-type-2:hover {
    background-position: right;
}
footer {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Home */
.home {
    background-image: url('/template/imgs/banner.jpg');
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
.search-box > div > input {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal !important;
    width: 100%;
    padding: 14px 128px 14px 12px;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px
}
.search-box input:focus {
    outline: none;
    border: none;
}
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 33%;
  font-size: 14px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    /* border: 1px solid #ffffff; */
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
.select-selected svg {
    transition: 0.3s;
}
.select-selected:hover {
    color: #38d39f;
}
.select-selected:hover svg {
    stroke: #38d39f;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  width: max-content;
  border-bottom: 1px solid #ccc;
}
.select-items div {
    border: 1px solid #ccc;
    border-bottom: none;
  color: #000000;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.search-filter {
    color: #fff;
    padding: 8px 16px;
    line-height: 21px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}
.search-filter svg {
    transition: 0.3s;
}
.search-filter:hover {
    color: #38d39f;
}
.search-filter:hover svg {
    stroke: #38d39f;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    padding: 15px 20px;
    display: none;
    cursor: auto;
}
.dropdown-show {
    display: block;
}
.dropdown input {
    border: 1px solid #000;
    width: 120px;
    padding: 5px 10px;
}
.dropdown input:focus {
    border: 1px solid #000;
}
.search-dientich input {
    width: 60px;
}
/* The container */
.ba {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.ba input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.ba:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
    .ba input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
    .ba input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
    .ba .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-select {
    position: relative;
    width: fit-content;
    font-size: 14px;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div:not(:last-child) {
    border-bottom: none;
}

.center {
    height:100%;
    display:flex;
    flex-wrap: wrap;
}
.form-input {
    background:#fff;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
                3px 3px 7px rgba(94, 104, 121, 0.377);
}
.form-input input {
    display:none;

}
.form-input label {
    display:block;
    line-height:50px;
    text-align:center;
    color:#000;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    cursor:pointer;
    width:150px;
    height: 150px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.25s;
}
.form-input label:hover {
        background: #ccc;
}
.form-input img {
    width:100%;
    display:none;

    margin-bottom:30px;
}
#preview {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#preview img {
    width: 150px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    }
/* The container */
.ba {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.ba input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

    /* On mouse-over, add a grey background color */
.ba:hover input ~ .checkmark {
    background-color: #ccc;
}

    /* When the checkbox is checked, add a blue background */
.ba input:checked ~ .checkmark {
    background-color: #2196F3;
}

    /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

    /* Show the checkmark when checked */
.ba input:checked ~ .checkmark:after {
    display: block;
}

    /* Style the checkmark/indicator */
.ba .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
input[type="date"]{
    background-color: #ffffff;
    padding: 15px;
    color: #000000;
    font-size: 14px;
    /* border: none; */
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.banner-content {
    background: rgba(0,0,0,0.3);
}
.banner-content h1 {
    font-size: 26px;
}
.tpthainguyen {
    background: url('/template/imgs/tpthainguyen.jpg');
}
.phoyen {
    background: url('/template/imgs/phoyen.jpg');
}
.songcong {
    background: url('/template/imgs/songcong.jpg');
}
.phubinh {
    background: url('/template/imgs/phubinh.jpg');
}
.daitu {
    background: url('/template/imgs/daitu.jpg');
}
.district-motel > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 0;
    padding-top: 75%;
}
.district-motel > div:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    border-radius: 4px;
    transform: rotate(-180deg);
}
.feature-item {
    box-shadow: 0 2px 6px rgba(70,80,110,.3);
}
.register-form .select-selected {
    color: #000000;
}

.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

.thumb {
    height: 150px;
}
.motel-item:hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .35);
}
/* ===CODFE HEADING STYLE #9 === */
.cf-title-09 h3{
    text-align:center; font-size:30px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:500;
}
.cf-title-09 p{
    font-family:"Mulish", serif; font-weight:500;
}
.cf-title-09 h3 span {
    margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.cf-title-09 h3 span:after,.cf-title-09 h3 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
background-color:#f8f8f8;
}
.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    transform: translate(50%,-10px);
}
.filter.relative:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(50%,0);
}
.overlay {
    background: rgba(0,0,0,0.3);
    transition: 0.25s;
}
.box-naptien {
    transition: 0.25s;
}
.btn-naptien svg {
    transition: 0.25s;
}
.btn-naptien:hover svg {
    fill: #ffffff;
}
.hide {
    opacity: 0;
    visibility: hidden;
}
.show {
    opacity: 1;
    visibility: visible;
}